name: master-ci 

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  master-ci:
    timeout-minutes: 30
    runs-on: blacksmith-2vcpu-ubuntu-2204

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
    - uses: actions/checkout@v6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm ci
    
    - run: npm run lint

    - run: npm run typecheck

    - run: npm run build

    - run: npm run test

    - run: npm run integration-tests
